<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Document</title>
    <link rel="icon" href="https://lh3.googleusercontent.com/a/ACg8ocJq-JRbkTWjnaebURSA7e_pjIeCILp81Ws4h9kSF8l3Jqnf6y8=s260-c-no">
</head>
<body style="background-color: lightgreen;">
    <h1>Hello {{ name }}</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe ducimus a iste aut aperiam consequatur expedita sapiente iure dicta, quos exercitationem, ipsam dolore cum fuga? Perferendis repudiandae voluptatibus illo similique.
        Eos nisi impedit nesciunt alias voluptas, rerum ea eius, voluptate et recusandae dolor totam expedita, amet minus unde! Quisquam similique deserunt amet doloribus nostrum fugit illo, a alias sit non.
        Totam dicta ab recusandae, aspernatur voluptatibus molestias. Consectetur fugit non quas est, mollitia minus facere, ratione ducimus illo, distinctio officiis soluta excepturi deserunt aut suscipit sed nemo quisquam. Ratione, tenetur.
        Iure deleniti sed est nisi minima neque soluta a at ex impedit cupiditate reiciendis dignissimos fugit debitis, ratione asperiores? Adipisci alias animi aspernatur suscipit et quis eius magnam voluptates aliquam!
    </p>
    <img src="https://lh3.googleusercontent.com/a/ACg8ocJq-JRbkTWjnaebURSA7e_pjIeCILp81Ws4h9kSF8l3Jqnf6y8=s260-c-no" alt="">
    <p> 
        Delectus placeat dolorem tempora recusandae aut explicabo consectetur, aliquid ipsa, nulla aliquam neque magni? Aliquid, tempore praesentium. Dignissimos, magnam? Voluptates veniam adipisci corporis dolore, deleniti explicabo quisquam consectetur repudiandae porro.
        Voluptates provident incidunt reprehenderit quam placeat deserunt ad aliquid dignissimos debitis maxime! Non incidunt molestias ab ad tenetur in, praesentium laboriosam maxime repellat voluptates adipisci. Sapiente provident aliquid ad mollitia!
    </p>
</body>
</html>